version: '2'

services:
  wagtail:
    image: nhsuk/content-platform:${CONTENT_PLATFORM_DOCKER_IMAGE_TAG}
    environment:
      SA_USER: ${SA_USER}
      SA_PASS: ${SA_PASS}
      WAGTAIL_SU_EMAIL: ${WAGTAIL_SU_EMAIL}
      WAGTAIL_SU_USER: ${WAGTAIL_SU_USER}
      WAGTAIL_SU_PASS: ${WAGTAIL_SU_PASS}
      DJANGO_SETTINGS_MODULE: ${DJANGO_SETTINGS_MODULE}
      SECRET_KEY: ${SECRET_KEY}
{{- if ne .Values.DB_TYPE "SQLITE" }}
      DB_HOST: ${DB_HOST}
      DB_NAME: ${DB_NAME}
      DB_USER: ${DB_USER}
      DB_PASS: ${DB_PASS}
      DB_TYPE: ${DB_TYPE}
      DB_PORT: 1433
{{- end }}

{{- if eq .Values.DB_TYPE "SQL Local" }}
    links:
      - sql:sql
{{- end }}
    labels:
      traefik.enable: stack
      traefik.domain: ${TRAEFIK_DOMAIN}
      traefik.port: 8000

{{- if eq .Values.DB_TYPE "SQL Local" }}
  sql:
    image: microsoft/mssql-server-linux
    environment:
      ACCEPT_EULA: Y
      SA_PASSWORD: ${SA_PASS}
{{- end }}
