version: '2'

services:

  wagtail:
    image: nhsuk/content-platform:${CONTENT_PLATFORM_DOCKER_IMAGE_TAG}
    environment:
      DB_HOST: ${DB_HOST}
      DB_NAME: ${DB_NAME}
      DB_USER: ${DB_USER}
      DB_PASS: ${DB_PASS}
      DB_PORT: 1433
      SA_USER: ${SA_USER}
      SA_PASSWORD: ${SA_PASSWORD}
      WAGTAIL_EMAIL: ${WAGTAIL_EMAIL}
      WAGTAIL_USER: ${WAGTAIL_USER}
      WAGTAIL_PASS: ${WAGTAIL_PASS}
      DJANGO_SETTINGS_MODULE: ${DJANGO_SETTINGS_MODULE}
      SECRET_KEY: ${SECRET_KEY}
      AZURE_ACCOUNT_NAME: ${AZURE_ACCOUNT_NAME}
      AZURE_ACCOUNT_KEY: ${AZURE_ACCOUNT_KEY}
      AZURE_CONTAINER: ${AZURE_CONTAINER}
      AZURE_AD_CLIENT_ID: ${AZURE_AD_CLIENT_ID}
      AZURE_AD_CLIENT_KEY: ${AZURE_AD_CLIENT_KEY}
    labels:
      io.rancher.container.pull_image: always
